.w{
/* background-image: url(../ww.jpg) ;  
background-repeat : no-repeat;
background-size:cover; 
background-position-y: bottom; */ 
 /* border: 2px solid red;*/
 background-color: #e6e6e6;
    height:500px;
    
}
.p{
   /* border: 1px solid black;*/
    background-color:  rgb(72, 72, 72);
    color: #fff;
    height: 40px;
    margin-top: 20px;
}
.e{
    text-align: center;
    margin-top: 9px ;
    

}
.r{
   /* border: 2px;*/
    background: silver;
    }

.p:hover{
   background-color: #1a7d30;
}
.container-fluid{
   
}
img{
    width: 1000px;
    
}

.x{
    
    margin-top: 30px;
}
p{
    text-align: center;
    margin-top: 15px;
    color: black;
}
.pp {
    font-size: 16px;
    color: black;
    line-height: 26px;
    margin-bottom: 0;
}
.a{
    color:#1a7d30 ;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 10px;
    font-family: cursive;
    text-align: center;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.business-item-info {
    margin-top: 60px;
}
.d-xl-block {
    display: block!important;
}
.fa fa-globe{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: red;
}
.v{
   /* border: 2px solid red;*/
    height: 400px;
    width: 30px;
    margin-top: 20px;
    text-align: center;
}
.c{
   /* border: 1px solid black;*/
    background-color: white;
    height: 500px;
    margin-top: 80px;
}
.n{
   /* border: 1px solid green;*/
    height: 100px;
    margin-top: 10px;
}
.n h3{
    font-size: 20px;
    
}
.n h4{
    font-size:  15px;
    color: #1a7d30;
}
.n p{
    color: silver;
}
h1{
    margin-top: -30px;
}
.f{
    height: 200px;
    
}
.z{
    height: 200px;
}
.icon {
    background: #1a7d30;
    display: inline-block;
    float: none;
    width: 96px;
    height: 96px;
    margin: 0 0 39px 0;
    border-radius: 96px;
    border-radius: 96px;
    border-radius: 96px;
    
}
.M{
   /* border: 1px solid black;*/
    background-color: whitesmoke;
    height: 500px;
    
}
.icon1 {
    background: #8dbf41;
    display: inline-block;
    float: none;
    width: 100%;
    height: 100%;
  margin: 0 0 39px 0;
   text-align: center;
    
    
    
}
.g{
     color: white;
   text-align: center;
    margin-top: 15px;
   
    
}
.icon2 {
    background: rgb(51,51,51);
    display: inline-block;
    float: none;
    width: 50%;
    height: 50%;
  margin: 0 0 39px 0;
   color: white;
   text-align: center;
    
}
.k{
   
    display: inline-block;
    float: none;
    width: 96px;
    height: 96px;
    margin: 0 0 39px 0;
    border-radius: 96px;
    border-radius: 96px;
    border-radius: 96px;
    
}
.d{
     color: white;
   text-align: center;
    margin-top: 15px;
   
    
}
.icon3 {
    background: rgb(51,51,51);
    display: inline-block;
    float: none;
    width: 100%;
    height: 50%;
  margin: 0 0 39px 0;
   color: white;
   text-align: center;
    
}
.q{
    margin-top: 0px;
    background-color: rgb(196, 196, 196);
}
.icon4 {
    background: #8dbf41;
    display: inline-block;
    float: none;
    width: 100%;
    height: 50%;
  margin: 0 0 39px 0;
   color: white;
   text-align: center;
    
}
.az{
    height: 500px;
}
.imgg{
width: 250px;
height: 80px;

}

.services-item {
    padding: 60px 30px;
    border: 1px solid #ddd;
    transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    margin-bottom: 30px;
}
text-center {
    text-align: center!important;
}
.iconn {
    background: #e3fff2;
    width: 110px;
    height: 110px;
    margin: 0px auto;
    margin-bottom: 0px;
    text-align: center;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-bottom: 25px;
}
.lni {
    display: inline-block;
    font: normal normal normal 1em/1 'LineIcons';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.services-item:hover{
    background-color: white;
    border-color: #1a7d30;
}
.ic{
    margin-top: 28px;
    color: #1a7d30;
}
.section-title {
    font-size: 35px;
    margin-bottom: 12px;
    font-weight: 600;
    position: relative;
    line-height: 30px;
    text-align: center;
    color: #1a7d30;
}
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    
    
    .card-header h3{
    color: white;
    }
    
    
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color:#FFC312 !important;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }
    .nn{
        margin-left: 80px;
    }